{% extends 'base.html' %}
{% block content %}
  <h3>Change User data</h3>
    <pre>
    Username: {{user.username}}
    Email: {{user.email}}
    User role: {{user.role}}
    Phone: {{user.phone}}
    Oauth: {{user.oauth}}
    Reset: <a href=''>Reset password</a>
    Deactivate: <a href=''>Reset password</a>
    Delete: <a href=''>Reset password</a>



        </td>
    </pre>
<div class="jumbotron">
    <div  method="POST" action = "" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    </div>
    <div class="form-group">
      {{ form.username.label(class="form-group") }}
      {{form.username(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-group") }}
      {{form.email(class='form-control')  }}
    </div>
    <div class="form-group">
      {{ form.role.label(class="form-group") }}
      {{form.role(class='form-control')  }}
    </div>
     <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
</div>

{% endblock %}
