{% extends 'base.html' %}
{% block content %}
  <h3>Categories</h3>

  <table border='1'><tr><th>ID</th><th>Category name</th><th>Parent ID</th><th>Order</th><th>Estonian</th><th>Russian</th><th>Spanish</th></tr>
  {% for category in categories %}
    <tr><td>
    {{category.id}}</td><td>
    {% if category.name != None %}
      {{category.name}}
    {% endif %}
    </td><td>
    {% if category.parent != None %}
      {{category.parent}}
    {% endif %}
    </td><td>
    {% if category.order != None %}
      {{category.order}}
    {% endif %}
    </td><td>
    </td><td>
    {% if category.et != None %}
      {{category.et}}
    {% endif %}
    </td><td>
    {% if category.es != None %}
      {{category.es}}
    {% endif %}
    </td><td>
    <a href='{{ url_for('categories.admin_edit_category', cat_id=category.id) }}'>Edit</a></td>
    </tr>
  {% endfor %}
    <tr><td></td><td><a href='{{ url_for('categories.admin_add_category') }}'>+ New record</a></td></tr>
  </table>

{% endblock %}


 id = db.Column(db.Integer, primary_key=True, index=True)
    name = db.Column(db.String(30))
    parent = db.Column(db.Integer)
    order = db.Column(db.Integer)
    de = db.Column(db.String(30))
    fr = db.Column(db.String(30))
    ru = db.Column(db.String(30))
    ee = db.Column(db.String(30))
    es = db.Column(db.String(30))
    fi = db.Column(db.String(30))