{% extends 'base.html' %}
{% block content %}

<div class="container">
  <form class="form_group" method = "POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    {{picForm.hidden_tag()}}

    <div class="form_group" method = "POST">
      {{form.title.label(class="form-control-label")}}
      {{form.title(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{form.text.label(class="form-control-label")}}
      {{form.text(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{form.price.label(class="form-control-label")}}
      {{form.price(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{picForm.picture1.label(class="form-control-label")}}
      {{picForm.picture1(class = "form-control form-control-lg")}}
    </div>

    {% for image in ad.images %}
    <div class="">
      <img  src="{{ url_for('static', filename='ad_pics/' + image.image) }}" />
      <a href="{{url_for('ads.delete_image', pic_id=image.id)}}">Delete</a>
    </div>
    {% endfor %}


    <div class="form_group" method = "POST">
      {{picForm.picture2(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{picForm.picture3(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{picForm.picture4(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{picForm.picture5(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{form.submit(class="btn btn-outline-info")}}

    </div>



    </form>
  </div>


{% endblock %}
