{% extends 'base.html' %}
{% block content %}



<div class="container">
  <form class="form_group" method = "POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    {{picForm.hidden_tag()}}

      <h1>{{title}}      </h1>
    <div class="card text-white bg-secondary mb-3" >
      {{categoryForm.category1(class = "form-control form-control-lg", onchange="submit()")}}
      {% if categoryForm.category2.choices|length > 1  %}
        {{categoryForm.category2(class = "form-control form-control-lg", onchange="submit()")}}
      {% endif %}
      {% if categoryForm.category3.choices|length > 1  %}
          {{categoryForm.category3(class = "form-control form-control-lg", onchange="submit()")}}
      {% endif %}
      {{categoryForm.size.label(class="form-control-label")}}
      {{categoryForm.size(class = "form-control form-control-lg")}}
      {{categoryForm.brand.label(class="form-control-label")}}
      {{categoryForm.brand(class = "form-control form-control-lg")}}
    </div>


    <div class="form_group" method = "POST" >
      {{form.title.label(class="form-control-label")}}
      {{form.title(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{form.text.label(class="form-control-label")}}
      {{form.text(class = "form-control form-control-lg")}}
    </div>

    <div class="form_group" method = "POST">
      {{form.price.label(class="form-control-label")}}
      {{form.price(class = "form-control form-control-lg")}}
    </div>

    {% if ad %}
    {% for image in ad.images %}
    <div class="form_group">
      <img  src="{{ url_for('static', filename='ad_pics/' + image.image) }}" />
      <a href="{{url_for('ads.delete_image', pic_id=image.id)}}">Delete</a>
    </div>
    {% endfor %}
    {% endif %}

    <div class="form_group" method = "POST">
      {{picForm.picture.label(class="form-control-label")}}
      {{picForm.picture(class = "form-control form-control-lg", onchange="submit()")}}
    </div>

    <div class="form_group" method = "POST">
      {{form.submitbutton(class="btn btn-outline-info")}}

    </div>



    </form>
  </div>


{% endblock %}
