{% extends "base.html" %}
{% block content %}
<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.email.label }} {{ form.email() }}

    {% if form.email.errors %}
       {% for error in form.email.errors %}
         {{ error }}
       {% endfor %}
    {% endif %}

     <br>
    {{ form.username.label }} {{ form.username() }}
    {% if form.username.errors %}
       {% for error in form.username.errors %}
          {{ error }}</p>
       {% endfor %}
    {% endif %}

    <br>
    {{ form.password.label }} {{ form.password() }}<br>
    {{ form.pass_confirm.label }} {{ form.pass_confirm() }}<br>
    {{ form.submit() }}
</form>
{% endblock %}
